<!DOCTYPE html>
<html>
<head>
  <title>Pham Quoc Toan - Part Designer, Part Developer</title>
  <link href='//fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header id="main_navigation" class="clearfix">
    <%= link_to "Pham Quoc Toan", root_path, class: "name" %>
    <nav>
    <%= link_to "Articles", posts_path %>
    </nav>
  </header>
  <%= yield %>

  <footer id="main_footer">
    <p class="copyright">&copy;2016 Pham Quoc Toan</p>
    <nav>
      <a href="http://facebook.com/phamquoctoan" target="_blank"><i class="fa fa-facebook"></i></a>
      <a href="http://github.com/phamquoctoan" target="_blank"><i class="fa fa-github"></i></a>
    </nav>
  </footer>
</body>
</html>
